 .btn-danger{

    background: #ff4081;
 }

  .btn-danger:hover{

    background: #ff4081;
 }

  .btn-danger:focus{

    background: #ff4081;
 }

  .btn-danger:active{

    background: #ff4081;
 }
.btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger{
 background: #ff4081;   
}


 .btn-success{
     color: #333;
     background-color:rgba(250,250,250,0.7);
      border-radius: 3px;
     border-color: #d9d9d9;
        height: 30px;
     
 }
.btn-success:hover{
     color: #8F1E4A;
     background-color: #fff;
      border-radius: 3px;
     border-color: #d9d9d9;
        height: 30px;
     
 }

 .fa-bell-o:hover{
      -webkit-animation-name: wobble;
  animation-name: wobble;
 }
 



.btn-primary {
    color: #333;
    background-color:rgba(250,250,250,0.7);
    border-radius: 10px;
    border-color: #e4e4e4;
    
    font-size: 15px;
    
}
.btn-primary:hover {
    color: #8F1E4A;
    background-color: #fff;
    border-radius: 10px;
    border-color: #8F1E4A;
    
    font-size: 15px;

    
}
.btn-primary:focus {
    color: #fff;
    background-color: #8F1E4A;
    border-radius: 10px;
    border-color: #8F1E4A;
    font-size: 15px;

    
}    .btn-primary:activa {
    color: #fff;
    background-color: #8F1E4A;
    border-radius: 10px;
    border-color: #8F1E4A;
    font-size: 15px;
    
}    





.btn-warning{}
.btn-warning:hover{}

.btn-info{
    
}
.btn-info:hover{
    
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
    margin-bottom: 20px;
}
.btn-theme:hover {
    color: #8F1E4A;
    background-color: #fff;
    border-color: #fff;
    
}


a{
    color: #eee;
    
}
a:hover{
  
    color:#ff4081;
    
}
 
 #calendar a{
    color: black;
 }

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}
   .btn-pref .btn {
    -webkit-border-radius:0 !important;
}



.carousel-inner .btn-theme {
    background-color: #CA628A; 
}
.carousel-inner .btn-theme:hover {
    color: #8F1E4A;
    background-color: #fff;
    border: 2px solid #eee;
}
.user-control>.btn{
    color: #eee;
}

.user-control>.btn:hover{
    color: white;
}





/*material buton*/




.fab {
  cursor: pointer;
}
.fab-backdrop {
  color: rgba(255, 255, 255, 0);
}
.fab-primary, .fab-secondary {
  transition: all 0.35s ease-in-out;
}
.fab.active .fab-primary {
  opacity: 0;
  transform: rotate(225deg);
}
.fab-secondary {
  opacity: 0;
  transform: rotate(-225deg);
}
.fab.active .fab-secondary {
  opacity: 1;
  transform: rotate(0);
  margin-top: -2px;
}



#inbox .show-on-hover:hover > ul.dropdown-menu {
    display: block;    
    
}
#inbox .show-on-hover {
    position: fixed;
    bottom: 30px;
    right: 30px;
}
#inbox .btn-io{
    border-radius: 50%;
    height: 54px;
    width: 54px;
    padding: 0 !important;
    box-shadow: 0px 3px 7px 0px rgba(202, 124, 124, 0.72);
}
#inbox .dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
top: auto;
bottom: 100%;
margin-bottom: 1px;
margin-bottom: -5px;
padding-bottom: 30px;
}
#inbox .dropdown-menu-right {
right: 0 !Important;
/*left: auto !Important;*/
}
#inbox .dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 50px;
padding: 5px 0;
margin: 2px 0 0;
font-size: 14px;
text-align: center;
list-style: none;
background-color: rgba(255, 255, 255, 0) !Important;
-webkit-background-clip: padding-box;
background-clip: padding-box;
border: none;
border-radius: 0px;
-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0) !Important;
box-shadow: 0 6px 12px rgba(0, 0, 0, 0) !Important;
}
#inbox .fa-iox{
    font-size: 22px;
}
#inbox .dropdown-menu > li > a {
display: block;
padding: 0;
padding-top: 4px;
margin-top: 20px;
clear: both;
font-weight: normal;
line-height: 1.42857143;
color: #333;
background: #fff;
white-space: nowrap;
width: 40px;
height: 40px;
border: solid 1px #ccc;
border-radius: 50px;
font-size: 21px;
box-shadow: 0px 3px 7px 0px rgba(203, 203, 203, 0.72);
}
#inbox .dropdown-menu > li:first-child>a {
    background: #6E4320 !important;
    color: #fff !important;
}
#inbox .dropdown-menu > li:last-child>a {
    background: #D3A516;
    color: #fff;
}
#inbox .dropdown-menu > li:nth-child(3)>a {
    background: #3C80F6;
    color: #fff;
}
#inbox .dropdown-menu > li:nth-child(2)>a {
    background: #2CAC26;
    color: #fff;
}
#inbox .fa-iosm{
    
    margin-top: 7px;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    padding: 6px 12px;
    cursor: pointer;
}
.shadow {

    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}



a#t:hover {
 color: black;
}
i#fa { font-size: 50px;text-align: right;position: absolute;top: 7px;right: 27px;outline: none; }


/* Facebook */
a.facebook-like i,.facebook-like h4.list-group-item-heading { color:#3b5998; }
a.facebook-like:hover { background-color:#3b5998; }
a.facebook-like:hover * { color:#FFF; }
/* Visitor */
a.visitor i,.visitor h4.list-group-item-heading { color:#E48A07; }
a.visitor:hover { background-color:#8f1e4a; }
a.visitor:hover * { color:#FFF; }
/* Youtube */
a.youtube i,.youtube h4.list-group-item-heading { color:#c4302b; }
a.youtube:hover { background-color:#c4302b; }
a.youtube:hover * { color:#FFF; }